<div align="center">
  <% unless @projects.nil? || @projects.empty?%>
      <% @projects.each do |project| %>
          <h4><%= project.name %></h4>
          <%= link_to "Delete", delete_project_path(:id=> project.id), :remote => true %>
          <% project.tasks.each do |task| %>
              <%= task.name %>
              <%= link_to "Delete", tasks_delete_path(:id=> task.id), :remote => true %>
          <% end %>

          <%= render 'tasks/addTask_form', :project => project%>

      <% end %>
  <% else %>
      <h4>There are no any projects for you.</h4>
  <% end %>

  <% unless flash[:error].nil? %>
      <div class="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong><%= flash[:error] %></strong>
      </div>
  <% end %>
</div>